---
import MainLayout from "./MainLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";
const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<MainLayout title={title} description={description}>
  <section class="max-w-7xl mx-auto my-8">
    {
      heroImage && (
        <div class="border border-zinc-800">
          <img src={heroImage} alt={title} />
        </div>
      )
    }
    <div>
      <div class="border-b border-zinc-800">
        <h1 class="text-center text-3xl font-light" transition:name={title}>
          {title}
        </h1>
        <div class="font-light text-sm text-center">
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <>
                <span>&roarr;</span>
                <div class=" text-zinc-500 inline-block">
                  <FormattedDate date={updatedDate} />
                </div>
              </>
            )
          }
        </div>
      </div>
      <article class="prose prose-invert prose-lg text-xl mx-auto max-w-full">
        <style>
          :global(.prose a) {
            @apply text-blue-600 underline;
          }
          :global(.prose a:hover) {
            @apply text-blue-700;
          }
        </style>

        <slot />
      </article>
    </div>
  </section>
</MainLayout>
