---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../config";
import Layout from "../../layouts/MainLayout.astro";

import { PortfolioTable } from "../../components/PortfolioTable";
import {calculateNetLiquidationValue, getPortfolioData, getStockStaticData} from "../../utils/utils";
import { IndustryPieCharts} from "../../components/IndustryPieChart";


const stockStaticData = await getStockStaticData();
const portfolioData = await getPortfolioData();

const cashDepositedInPortfolio = Object.values(portfolioData).reduce((sum, obj) => sum + obj.units * obj.averagePrice, 0);
const netLiquidationValue = calculateNetLiquidationValue(portfolioData, stockStaticData)
const paperGains = (netLiquidationValue - cashDepositedInPortfolio)
const paperGainsClass = paperGains >=0 ?  'amount text-green-500' : 'amount text-red-500'
const returns = (paperGains/cashDepositedInPortfolio * 100 ).toFixed(3)
const returnsGainsClass = paperGains >=0 ?  'amount text-green-500' : 'amount text-red-500'

---
<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section class="container mt-8">
    <div class="portfolio-summary">
      <div class="summary-card">
        <h3>Cash Deposited</h3>
        <p class="amount">${cashDepositedInPortfolio.toFixed(1)}</p>
      </div>
      <div class="summary-card">
        <h3>Net Liquidation Value</h3>
        <p class="amount">${netLiquidationValue.toFixed(1)}</p>
      </div>
      <div class="summary-card">
        <h3>Gains</h3>
        <p class=`${paperGainsClass}`>${paperGains.toFixed(1)}</p>
      </div>
      <div class="summary-card">
        <h3>Returns</h3>
        <p class=`${returnsGainsClass}`>{returns}%</p>
      </div>
    </div>
    <IndustryPieCharts  client:load/>

    <PortfolioTable stockStaticData={stockStaticData} portfolioData={portfolioData} client:load />

  </section>

</Layout>



<style>

  /* Summary Card */
.summary-card {
  background-color: #1c1c1e;
  color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.summary-card h3 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.summary-card .amount {
  font-size: 1.2rem;
  font-weight: 400;
}


/* Portfolio Summary */
.portfolio-summary {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .portfolio-summary {
    flex-direction: column;
  }
}

.amount.positive {
  color: green;
}

.amount.negative {
  color: red;
}


</style>